In [161]:
%load_ext autoreload
%autoreload 2

import toolbox
import pandas as pd

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Importing the Data

In [162]:
# Where the raw data is hosted
raw_data = "../Data/Raw/"

In [163]:
# Convert the excel files into pd objects and load them on a dictionary
dataframes = toolbox.load_xlsx_dataframes(raw_data, avoid=[".gitkeep"], skip_rows=9, skip_footer=6)

# Cleaning the Data

In [164]:
# Join all the dataframes into one
df = pd.concat(dataframe for dataframe in dataframes.values())
df.shape

df.isna().sum()

ARMA MEDIO               46250
DEPARTAMENTO             14726
MUNICIPIO                    0
FECHA HECHO              46250
GENERO                   46498
*AGRUPA_EDAD_PERSONA     35019
CODIGO DANE              46250
CANTIDAD                     0
DELITO                       0
DELITOS                 301576
ARMAS_MEDIOS            268179
FECHA                   268179
CODIGO_DANE             268179
DEPARTAMENTO            299703
GENERO                  302950
dtype: int64

In [165]:
# List of dataframes to have an specific order
data_order = ["amenzas_4.xlsx", "delitos_sexuales_4.xlsx", "extorsion_5.xlsx", "homicidio_intencional_5.xlsx", "homicidios_7.xls", 
                  "homicidios_en_accidente_de_transito_4.xlsx", "hurto_a_comercio_6.xlsx", "hurto_a_motocicletas_4.xlsx", "hurto_a_personas_20.xlsx",
                  "hurto_a_residencias_11.xlsx", "hurto_automotores_11.xlsx", "hurto_cabezas_de_ganado_3.xlsx", "hurto_entidades_financieras_4.xlsx",
                  "hurto_pirateria_terrestre_4.xlsx", "lesiones_en_accidente_de_transito_9.xlsx", "lesiones_personales_7.xlsx",
                  "lesiones_personales_8.xlsx", "secuestro_4.xlsx", "terrorismo_4.xlsx", "violencia_intrafamiliar_4.xlsx"]

df_list = [dataframes[data] for data in data_order]

In [166]:
# How many columns has each df?
for dataframe in df_list:
    print(len(dataframe.columns))

9
10
9
9
9
9
7
7
9
9
7
9
7
7
9
9
9
9
7
9

In [167]:
# Removing the column "DELITOS" since it only for this dataframe and will not aport any further information to the general data
df_list[1] = df_list[1].drop("DELITOS", axis=1)

In [168]:
for dataframe in df_list:
    print(dataframe.columns[4])

GENERO
GENERO
GENERO
GENERO
GENERO
GENERO
CODIGO_DANE
CODIGO_DANE
GENERO
GENERO
CODIGO_DANE
GENERO
CODIGO DANE
CODIGO DANE
GENERO
GENERO
GENERO
CODIGO DANE
CODIGO DANE
GENERO

I will add the genre column to the dataframes that doesnt have it to be consistent when the dataframs are joint.

In [169]:
# List of dataframes that doesnt have the column "GENERO"
non_genre_dfs = [6, 7, 10, 12, 13, 18]

# Add the column "genre"
[df_list[no_genre_dataframe].insert(4, "genero", "NO REPORTADO") for no_genre_dataframe in non_genre_dfs]

# Adding the column "age_group" to the columns that doesnt have it by default
[df_list[no_genre_dataframe].insert(5, "age_group", "NO REPORTADO") for no_genre_dataframe in non_genre_dfs]

[None, None, None, None, None, None]

In [170]:
# checking if now all dataframes have the same amount of columns
for dataframe in df_list:
    print(len(dataframe.columns))

9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9

In [171]:
# Change column positions of the dataframe 3 since it has a different order
df_list[17] = toolbox.move_column(df_list[17], "GENERO ", 4)
df_list[17] = toolbox.move_column(df_list[17], "*AGRUPA_EDAD_PERSONA", 5)

In [172]:
# Some columns of some dataframes arent properly named, fixing that 
df_list[14] = df_list[14].rename(columns={'GENERO ': 'codigo_dane', 'CODIGO DANE ': 'genero'})
df_list[14] = toolbox.move_column(df_list[14], "codigo_dane", 6)
df_list[14] = toolbox.move_column(df_list[14], "genero", 4)

df_list[16] = df_list[16].rename(columns={'GENERO ': 'codigo_dane', 'CODIGO DANE ': 'genero'})
df_list[16] = toolbox.move_column(df_list[14], "codigo_dane", 6)
df_list[16] = toolbox.move_column(df_list[14], "genero", 4)

In [173]:
for i in range(13, 20):
    print(df_list[i].columns)

Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'genero',
       'age_group', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'genero',
       '*AGRUPA_EDAD_PERSONA', 'codigo_dane', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'genero',
       '*AGRUPA_EDAD_PERSONA', 'codigo_dane', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'genero',
       'age_group', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')

In [174]:
# Checking that all columns has the same order
for dataframe in df_list:
    print(dataframe.columns)

Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMAS_MEDIOS', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA ', 'GENERO',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO_DANE', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMAS_MEDIOS', 'DEPARTAMENTO', 'MUNICIPIO ', 'FECHA ', 'genero',
       'age_group', 'CODIGO_DANE', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMAS_MEDIOS', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA ', 'genero',
       'age_group', 'CODIGO_DANE', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMAS_MEDIOS', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA ', 'genero',
       'age_group', 'CODIGO_DANE', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'genero',
       'age_group', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'genero',
       'age_group', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'genero',
       '*AGRUPA_EDAD_PERSONA', 'codigo_dane', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'genero',
       '*AGRUPA_EDAD_PERSONA', 'codigo_dane', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'genero',
       'age_group', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')

In [175]:
# The new name for the columns
new_column_names = ["arma", "departamento", "municipio", "fecha", "genero", "grupo_etario", "codigo_dane", "cantidad", "delito"]

#change the name of the columns
for i in range(9):
    df_list = toolbox.update_columns_name(df_list, i, new_column_names[i])

In [176]:
# Checking that all columns names are the same
for dataframe in df_list:
    print(dataframe.columns)

Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')

In [177]:
# Join all the dataframes into one
df = pd.concat(dataframe for dataframe in df_list)
df.shape

(295886, 9)

In [178]:
df.isnull().sum()

arma            0
departamento    0
municipio       0
fecha           0
genero          0
grupo_etario    0
codigo_dane     0
cantidad        0
delito          0
dtype: int64

In [179]:
df["genero"].unique()

array(['MASCULINO', 'FEMENINO', '-', 'NO REPORTADO'], dtype=object)

In [180]:
df["grupo_etario"].unique()

array(['ADULTOS', 'ADOLESCENTES', 'MENORES', '-', 'NO REPORTADO'],
      dtype=object)

In [181]:
# Replacing the values to have only 3 categories, "Femenino", "Masculino" and "No reportado"
df["genero"].replace("-", "NO REPORTADO", inplace=True)

# Replacing the values to merge tow categories, "No Reportado" and "-"
df["grupo_etario"].replace("-", "NO REPORTADO", inplace=True)

In [182]:
# Export the new dataframe clear
df.to_csv("../Data/Processed/crimes_clear.csv", index=False)