In [166]:
%load_ext autoreload
%autoreload 2

import toolbox
import pandas as pd

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Importing the Data

In [167]:
# Where the raw data is hosted
raw_data = "../Data/Raw/"

In [168]:
# Convert the excel files into pd objects and load them on a dictionary
dataframes = toolbox.load_xlsx_dataframes(raw_data, avoid=[".gitkeep"], skip_rows=9, skip_footer=6)

# Cleaning the Data

In [169]:
# Join all the dataframes into one
df = pd.concat(dataframe for dataframe in dataframes)
df.shape

df.isna().sum()

ARMA MEDIO               46250
DEPARTAMENTO             14726
MUNICIPIO                    0
FECHA HECHO              46250
CODIGO DANE              46250
CANTIDAD                     0
DELITO                       0
GENERO                   46498
*AGRUPA_EDAD_PERSONA     35019
ARMAS_MEDIOS            268179
FECHA                   268179
CODIGO_DANE             268179
DELITOS                 301576
GENERO                  302950
DEPARTAMENTO            299703
dtype: int64

In [170]:
# How many columns has each df?
for dataframe in dataframes:
    print(len(list(dataframe.columns)))

7
9
9
9
9
9
7
9
7
7
9
10
9
9
9
9
7
9
7
9

In [171]:
# Removing the column "DELITOS" since it only for this dataframe and will not aport any further information to the general data
dataframes[11] = dataframes[11].drop("DELITOS", axis=1)
for dataframe in dataframes:
    print(len(list(dataframe.columns)))

7
9
9
9
9
9
7
9
7
7
9
9
9
9
9
9
7
9
7
9

In [172]:
for dataframe in dataframes:
    print(dataframe.columns[4])

CODIGO DANE
GENERO
GENERO
CODIGO DANE
GENERO
GENERO
CODIGO DANE
GENERO
CODIGO_DANE
CODIGO_DANE
GENERO
GENERO
GENERO
GENERO
GENERO
GENERO
CODIGO_DANE
GENERO
CODIGO DANE
GENERO

I will add the genre column to the dataframes that doesnt have it to be consistent when the dataframs are joint.

In [173]:
# List of dataframes
dataframes_list = list(dataframes)

# List of dataframes that doesnt have the column "GENERO"
non_genre_cols = [0,6,8,9,16,18]

# Add the column "genre"
[dataframes_list[col].insert(4, "genero", "desconocido") for col in non_genre_cols]

# Adding the column "age_group" to the columns that doesnt have it by default
[dataframes_list[col].insert(5, "age_group", "desconocido") for col in non_genre_cols]

[None, None, None, None, None, None]

In [174]:
# checking if now all dataframes have the same amount of columns
for dataframe in dataframes:
    print(len(list(dataframe.columns)))

9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9

In [175]:
# Change column positions of the dataframe 3 since it has a different order
dataframes[3] = toolbox.move_column(dataframes[3], "GENERO ", 4)
dataframes[3] = toolbox.move_column(dataframes[3], "*AGRUPA_EDAD_PERSONA", 5)

In [176]:
# Some columns of some dataframes arent properly named, fixing that 
dataframes[1] = dataframes[1].rename(columns={'GENERO': 'codigo_dane'})
dataframes[1] = dataframes[1].rename(columns={'CODIGO DANE	': 'genero'})

dataframes[13] = dataframes[13].rename(columns={'GENERO': 'codigo_dane'})
dataframes[13] = dataframes[13].rename(columns={'CODIGO DANE	': 'genero'})

In [177]:
for i in range(13, 19):
    print(dataframes[i].columns)

Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMAS_MEDIOS', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA ', 'GENERO',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO_DANE', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMAS_MEDIOS', 'DEPARTAMENTO', 'MUNICIPIO ', 'FECHA ', 'genero',
       'age_group', 'CODIGO_DANE', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'genero',
       'age_group', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')

In [178]:
# Checking that all columns has the same order
for dataframe in dataframes:
    print(dataframe.columns)

Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'genero',
       'age_group', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'genero',
       'age_group', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMAS_MEDIOS', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA ', 'genero',
       'age_group', 'CODIGO_DANE', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMAS_MEDIOS', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA ', 'genero',
       'age_group', 'CODIGO_DANE', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMAS_MEDIOS', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA ', 'GENERO',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO_DANE', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMAS_MEDIOS', 'DEPARTAMENTO', 'MUNICIPIO ', 'FECHA ', 'genero',
       'age_group', 'CODIGO_DANE', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'genero',
       'age_group', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'CANTIDAD ', 'DELITO'],
      dtype='object')

In [179]:
# The new name for the columns
new_column_names = ["arma", "departamento", "municipio", "fecha", "genero", "grupo_etario", "codigo_dane", "cantidad", "delito"]

#change the name of the columns
for i in range(9):
    dataframes = toolbox.update_columns_name(dataframes, i, new_column_names[i])

In [180]:
# Checking that all columns names are the same
for dataframe in dataframes:
    print(dataframe.columns)

Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')

In [181]:
dataframes[1]["genero"].unique()
#dataframes[1].columns

array([ 5001000, 11001000, 25438000, ..., 76036001, 76318009, 70429010])

In [182]:
dataframes[1]

,arma,departamento,municipio,fecha,genero,grupo_etario,codigo_dane,cantidad,delito
0,ACIDO,ANTIOQUIA,Medellín (CT),2023-06-29,5001000,ADULTOS,FEMENINO,1,lesiones_personales_8.xlsx
1,ACIDO,CUNDINAMARCA,Bogotá D.C. (CT),2023-08-05,11001000,ADULTOS,MASCULINO,1,lesiones_personales_8.xlsx
2,ACIDO,CUNDINAMARCA,Medina,2023-02-05,25438000,ADULTOS,FEMENINO,2,lesiones_personales_8.xlsx
3,ACIDO,HUILA,Algeciras,2023-02-06,41020000,ADOLESCENTES,FEMENINO,1,lesiones_personales_8.xlsx
4,ACIDO,MAGDALENA,Santa Marta (CT),2023-01-30,47001000,ADULTOS,FEMENINO,1,lesiones_personales_8.xlsx
...,...,...,...,...,...,...,...,...,...
38617,NO REPORTADO,CÓRDOBA,Montería (CT),2023-04-13,23001000,ADULTOS,FEMENINO,1,lesiones_personales_8.xlsx
38618,NO REPORTADO,CÓRDOBA,Montería (CT),2023-04-13,23001000,ADULTOS,MASCULINO,1,lesiones_personales_8.xlsx
38619,NO REPORTADO,HUILA,Neiva (CT),2023-02-02,41001000,ADULTOS,MASCULINO,1,lesiones_personales_8.xlsx
38620,NO REPORTADO,HUILA,Neiva (CT),2023-02-10,41001000,MENORES,FEMENINO,1,lesiones_personales_8.xlsx
38621,NO REPORTADO,HUILA,Neiva (CT),2023-06-07,41001000,ADULTOS,FEMENINO,1,lesiones_personales_8.xlsx

In [183]:
# Join all the dataframes into one
df = pd.concat(dataframe for dataframe in dataframes)
df.shape

(314429, 9)

In [184]:
df.isnull().sum()

arma            0
departamento    0
municipio       0
fecha           0
genero          0
grupo_etario    0
codigo_dane     0
cantidad        0
delito          0
dtype: int64

In [185]:
# Export the new dataframe clear
df.to_csv("../Data/Processed/crimes_clear.csv", index=False)