In [77]:
%load_ext autoreload
%autoreload 2

import toolbox
import pandas as pd

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Importing the Data

In [78]:
# Where the raw data is hosted
raw_data = "../Data/Raw/"

In [79]:
# Convert the excel files into pd objects and load them on a dictionary
dataframes = toolbox.load_xlsx_dataframes(raw_data, avoid=[".gitkeep"], skip_rows=9, skip_footer=6)

# Cleaning the Data

In [80]:
# Join all the dataframes into one
df = pd.concat(dataframe for dataframe in dataframes.values())
df.shape

df.isna().sum()

ARMA MEDIO               46250
DEPARTAMENTO             14726
MUNICIPIO                    0
FECHA HECHO              46250
CODIGO DANE              46250
CANTIDAD                     0
DELITO                       0
GENERO                   46498
*AGRUPA_EDAD_PERSONA     35019
ARMAS_MEDIOS            268179
DEPARTAMENTO            299703
FECHA                   268179
CODIGO_DANE             268179
GENERO                  302950
DELITOS                 301576
dtype: int64

In [90]:
for dataframe in dataframes.values():
    print(len(list(dataframe.columns)))

7
9
7
9
9
7
7
9
9
9
9
7
9
9
10
9
9
7
9
9

In [91]:
# Removing the column "DELITOS" since itt only for this dataframe and will not aport any further information to the general data
dataframes["delitos_sexuales_4.xlsx"] = dataframes["delitos_sexuales_4.xlsx"].drop("DELITOS", axis=1)
for dataframe in dataframes.values():
    print(len(list(dataframe.columns)))

7
9
7
9
9
7
7
9
9
9
9
7
9
9
9
9
9
7
9
9

In [86]:
list(dataframes.values())[14]

,ARMA MEDIO,DEPARTAMENTO,MUNICIPIO,FECHA HECHO,GENERO,*AGRUPA_EDAD_PERSONA,CODIGO DANE,DELITOS,CANTIDAD,DELITO
0,ARMA BLANCA / CORTOPUNZANTE,AMAZONAS,Leticia (CT),2023-04-13,FEMENINO,ADULTOS,91001000,ARTÍCULO 206. ACTO SEXUAL VIOLENTO,1,delitos_sexuales_4.xlsx
1,ARMA BLANCA / CORTOPUNZANTE,ANTIOQUIA,Abejorral,2023-08-11,FEMENINO,ADULTOS,5002000,ARTÍCULO 205. ACCESO CARNAL VIOLENTO,1,delitos_sexuales_4.xlsx
2,ARMA BLANCA / CORTOPUNZANTE,ANTIOQUIA,Amagá,2023-03-21,FEMENINO,ADULTOS,5030000,ARTÍCULO 205. ACCESO CARNAL VIOLENTO,1,delitos_sexuales_4.xlsx
3,ARMA BLANCA / CORTOPUNZANTE,ANTIOQUIA,Amalfi,2023-02-21,FEMENINO,ADULTOS,5031000,ARTÍCULO 205. ACCESO CARNAL VIOLENTO,1,delitos_sexuales_4.xlsx
4,ARMA BLANCA / CORTOPUNZANTE,ANTIOQUIA,Andes,2023-04-23,FEMENINO,ADOLESCENTES,5034000,ARTÍCULO 206. ACTO SEXUAL VIOLENTO,1,delitos_sexuales_4.xlsx
...,...,...,...,...,...,...,...,...,...,...
12848,SIN EMPLEO DE ARMAS,VICHADA,Puerto Carreño (CT),2023-08-24,FEMENINO,MENORES,99001000,ARTÍCULO 208. ACCESO CARNAL ABUSIVO CON MENOR ...,1,delitos_sexuales_4.xlsx
12849,SIN EMPLEO DE ARMAS,VICHADA,Santa Rosalía,2023-01-04,FEMENINO,ADOLESCENTES,99624000,ARTÍCULO 205. ACCESO CARNAL VIOLENTO,1,delitos_sexuales_4.xlsx
12850,SIN EMPLEO DE ARMAS,VICHADA,Santa Rosalía,2023-01-04,FEMENINO,ADOLESCENTES,99624000,ARTÍCULO 208. ACCESO CARNAL ABUSIVO CON MENOR ...,1,delitos_sexuales_4.xlsx
12851,SIN EMPLEO DE ARMAS,VICHADA,Santa Rosalía,2023-05-08,FEMENINO,ADOLESCENTES,99624000,ARTÍCULO 210 A. ACOSO SEXUAL,1,delitos_sexuales_4.xlsx
12852,SIN EMPLEO DE ARMAS,VICHADA,Santa Rosalía,2023-08-03,FEMENINO,MENORES,99624000,ARTÍCULO 206. ACTO SEXUAL VIOLENTO,1,delitos_sexuales_4.xlsx

In [70]:
for dataframe in dataframes.values():
    print(dataframe.columns[4])

CODIGO DANE
GENERO
CODIGO DANE
GENERO
GENERO
CODIGO_DANE
CODIGO_DANE
GENERO
GENERO
GENERO
GENERO
CODIGO DANE
CODIGO DANE
GENERO
GENERO
GENERO
GENERO
CODIGO_DANE
GENERO
GENERO

I will add the genre column to the dataframes that doesnt have it to be consistent when the dataframs are joint.

In [71]:
# List of dataframes
dataframes_list = list(dataframes.values())

# List of dataframes that doesnt have the column "GENERO"
non_genre_cols = [0,2,5,6,11,12,17]

# Add the column "genre"
[dataframes_list[col].insert(4, "genero", "desconocido") for col in non_genre_cols]

[None, None, None, None, None, None, None]

In [72]:
# The new name for the columns
new_column_names = ["arma", "departamento", "municipio", "fecha", "genero", "grupo_etario", "codigo_dane", "cantidad", "delito"]

#change the name of the columns
for i in range(8):
    df_list = toolbox.update_columns_name(dataframes_list, i, new_column_names[i])

In [73]:
df_list = toolbox.update_columns_name(dataframes_list, i, new_column_names[i])

In [74]:
df_list[5]

,ARMAS_MEDIOS,DEPARTAMENTO,MUNICIPIO,FECHA,genero,CODIGO_DANE,CANTIDAD,cantidad
0,ARMA BLANCA / CORTOPUNZANTE,ANTIOQUIA,Apartadó,2023-06-23,desconocido,5045000,1,hurto_a_comercio_6.xlsx
1,ARMA BLANCA / CORTOPUNZANTE,ANTIOQUIA,Bello,2023-05-16,desconocido,5088000,1,hurto_a_comercio_6.xlsx
2,ARMA BLANCA / CORTOPUNZANTE,ANTIOQUIA,Bello,2023-06-20,desconocido,5088000,1,hurto_a_comercio_6.xlsx
3,ARMA BLANCA / CORTOPUNZANTE,ANTIOQUIA,Caucasia,2023-08-25,desconocido,5154000,1,hurto_a_comercio_6.xlsx
4,ARMA BLANCA / CORTOPUNZANTE,ANTIOQUIA,Chigorodó,2023-07-14,desconocido,5172000,1,hurto_a_comercio_6.xlsx
...,...,...,...,...,...,...,...,...
14721,NO REPORTADO,NORTE DE SANTANDER,Cúcuta (CT),2023-03-24,desconocido,54001000,1,hurto_a_comercio_6.xlsx
14722,NO REPORTADO,NORTE DE SANTANDER,Cúcuta (CT),2023-08-02,desconocido,54001000,1,hurto_a_comercio_6.xlsx
14723,NO REPORTADO,NORTE DE SANTANDER,Cúcuta (CT),2023-08-04,desconocido,54001000,1,hurto_a_comercio_6.xlsx
14724,NO REPORTADO,VALLE,Cali (CT),2023-08-22,desconocido,76001000,1,hurto_a_comercio_6.xlsx
14725,NO REPORTADO,VALLE,Tuluá,2023-05-25,desconocido,76834000,1,hurto_a_comercio_6.xlsx

In [75]:
for dataframe in df_list:
    print(dataframe.columns)

Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'genero',
       'CODIGO DANE ', 'CANTIDAD ', 'cantidad'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'cantidad', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'genero',
       'CODIGO DANE ', 'CANTIDAD ', 'cantidad'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'cantidad', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'cantidad', 'DELITO'],
      dtype='object')
Index(['ARMAS_MEDIOS', 'DEPARTAMENTO', 'MUNICIPIO ', 'FECHA ', 'genero',
       'CODIGO_DANE', 'CANTIDAD ', 'cantidad'],
      dtype='object')
Index(['ARMAS_MEDIOS', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA ', 'genero',
       'CODIGO_DANE', 'CANTIDAD ', 'cantidad'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'cantidad', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'cantidad', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'cantidad', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'cantidad', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'genero',
       'CODIGO DANE ', 'CANTIDAD ', 'cantidad'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'genero',
       'CODIGO DANE ', '*AGRUPA_EDAD_PERSONA', 'cantidad', 'CANTIDAD ',
       'DELITO'],
      dtype='object')
Index(['ARMAS_MEDIOS', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA ', 'GENERO',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO_DANE', 'cantidad', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'cantidad', 'CANTIDAD ',
       'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'cantidad', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'cantidad', 'DELITO'],
      dtype='object')
Index(['ARMAS_MEDIOS', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA ', 'genero',
       'CODIGO_DANE', 'CANTIDAD ', 'cantidad'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'cantidad', 'DELITO'],
      dtype='object')
Index(['ARMA MEDIO ', 'DEPARTAMENTO ', 'MUNICIPIO ', 'FECHA HECHO ', 'GENERO ',
       '*AGRUPA_EDAD_PERSONA', 'CODIGO DANE ', 'cantidad', 'DELITO'],
      dtype='object')

In [76]:
# Join all the dataframes into one
df = pd.concat(dataframe for dataframe in dataframes.values())
df.shape

(314429, 16)