In [49]:
%load_ext autoreload
%autoreload 2

import toolbox
import pandas as pd

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Importing the Data

In [50]:
# Where the raw data is hosted
raw_data = "../Data/Raw/"

In [51]:
# Convert the excel files into pd objects and load them on a dictionary
dataframes = toolbox.load_xlsx_dataframes(raw_data, avoid=[".gitkeep"], skip_rows=9, skip_footer=6)

# Cleaning the Data

In [52]:
# Join all the dataframes into one
df = pd.concat(dataframe for dataframe in dataframes.values())
df.shape

df.isna().sum()

ARMA MEDIO               46250
DEPARTAMENTO             14726
MUNICIPIO                    0
FECHA HECHO              46250
GENERO                   46498
*AGRUPA_EDAD_PERSONA     35019
CODIGO DANE              46250
CANTIDAD                     0
DELITO                       0
ARMAS_MEDIOS            268179
FECHA                   268179
CODIGO_DANE             268179
GENERO                  302950
DELITOS                 301576
DEPARTAMENTO            299703
dtype: int64

In [53]:
# How many columns has each df?
for dataframe in dataframes.values():
    print(len(list(dataframe.columns)))

9
7
9
9
7
9
9
10
9
9
9
7
9
7
9
9
7
9
7
9

In [54]:
# Removing the column "DELITOS" since it only for this dataframe and will not aport any further information to the general data
dataframes["delitos_sexuales_4.xlsx"] = dataframes["delitos_sexuales_4.xlsx"].drop("DELITOS", axis=1)
for dataframe in dataframes.values():
    print(len(list(dataframe.columns)))

9
7
9
9
7
9
9
9
9
9
9
7
9
7
9
9
7
9
7
9

In [63]:
# Convertig the dictionary into a list of dataframes to have an specific order (dictionaries doesnt have order)
df_list = list(dataframes.values())
[len(df.columns) for df in df_list]

[9, 7, 9, 9, 7, 9, 9, 9, 9, 9, 9, 7, 9, 7, 9, 9, 7, 9, 7, 9]

In [58]:
for dataframe in dataframes.values():
    print(dataframe.columns[4])

GENERO
CODIGO_DANE
GENERO
GENERO
CODIGO DANE
GENERO
GENERO
GENERO
CODIGO DANE
GENERO
GENERO
CODIGO_DANE
GENERO
CODIGO_DANE
GENERO
GENERO
CODIGO DANE
GENERO
CODIGO DANE
GENERO

I will add the genre column to the dataframes that doesnt have it to be consistent when the dataframs are joint.

In [64]:
# List of dataframes
dataframes_list = list(dataframes.values())

# List of dataframes that doesnt have the column "GENERO"
non_genre_cols = [1,4,11,13,16,18]

# Add the column "genre"
[dataframes_list[col].insert(4, "genero", "desconocido") for col in non_genre_cols]

# Adding the column "age_group" to the columns that doesnt have it by default
[dataframes_list[col].insert(5, "age_group", "desconocido") for col in non_genre_cols]

[None, None, None, None, None, None]

In [65]:
# checking if now all dataframes have the same amount of columns
for dataframe in dataframes.values():
    print(len(list(dataframe.columns)))

9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9

In [70]:
# The new name for the columns
new_column_names = ["arma", "departamento", "municipio", "fecha", "genero", "grupo_etario", "codigo_dane", "cantidad", "delito"]

#change the name of the columns
for i in range(9):
    df_list = toolbox.update_columns_name(df_list, i, new_column_names[i])

In [71]:
# Checking that all columns names are the same
for dataframe in df_list:
    print(dataframe.columns)

Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')
Index(['arma', 'departamento', 'municipio', 'fecha', 'genero', 'grupo_etario',
       'codigo_dane', 'cantidad', 'delito'],
      dtype='object')

In [75]:
# Join all the dataframes into one
df = pd.concat(dataframe for dataframe in df_list)
df.shape

(314429, 9)

In [78]:
df.isnull().sum()

arma            0
departamento    0
municipio       0
fecha           0
genero          0
grupo_etario    0
codigo_dane     0
cantidad        0
delito          0
dtype: int64

In [80]:
# Export the new dataframe clear
df.to_csv("../Data/Processed/crimes_clear.csv", index=False)