In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("../Data/Processed/crimes_clear.csv")

In [9]:
# Changing the field "fecha" into a datetime type
df['fecha'] = pd.to_datetime(df['fecha'])

# Adding a new column to know the day of the week that was reporte the crime
df['dia'] = df['fecha'].dt.day_name()

# Changing names to spanish since the whole database is in spanish
day_name_mapping = {
    'Monday': 'Lunes',
    'Tuesday': 'Martes',
    'Wednesday': 'Miércoles',
    'Thursday': 'Jueves',
    'Friday': 'Viernes',
    'Saturday': 'Sábado',
    'Sunday': 'Domingo'
}

df['dia'] = df['dia'].map(day_name_mapping)

In [10]:
df.to_csv("../Data/Processed/crimes_enriched.csv", index=False)

# Importing and cleaning the new DF to know the location

In [30]:
position_df = pd.read_excel("../Data/Raw/DIVIPOLA_Municipios.xlsx", skiprows=10, skipfooter=10)

In [31]:
position_df = position_df.drop(['Código ', 'Código .1', 'Unnamed: 4'], axis=1)

In [32]:
position_df.columns

Index(['Nombre', 'Nombre.1', 'LATITUD', 'LONGITUD'], dtype='object')

In [33]:
position_df.head(-10)

         Nombre               Nombre.1   LATITUD   LONGITUD
0     ANTIOQUIA               MEDELLÍN  6.257590 -75.611031
1     ANTIOQUIA              ABEJORRAL  5.803728 -75.438474
2     ANTIOQUIA               ABRIAQUÍ  6.627569 -76.085978
3     ANTIOQUIA             ALEJANDRÍA  6.365534 -75.090597
4     ANTIOQUIA                  AMAGÁ  6.032922 -75.708003
...         ...                    ...       ...        ...
1106    GUAINÍA               MORICHAL  2.421445 -69.840016
1107   GUAVIARE  SAN JOSÉ DEL GUAVIARE  2.484286 -71.919170
1108   GUAVIARE                CALAMAR  1.613634 -73.034264
1109   GUAVIARE             EL RETORNO  2.143447 -72.243649
1110   GUAVIARE             MIRAFLORES  1.363975 -72.018110

[1111 rows x 4 columns]

In [35]:
# Remove the brackets and make text uppercase to match with the new DF
df.municipio = df.municipio.str.replace(r'\(.*\)', '').str.upper()

/tmp/ipykernel_449/1319397285.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df.municipio = df.municipio.str.replace(r'\(.*\)', '').str.upper()

In [36]:
df

,arma,departamento,municipio,fecha,genero,grupo_etario,codigo_dane,cantidad,delito,dia
0,ARMA BLANCA / CORTOPUNZANTE,AMAZONAS,LETICIA,2023-06-13,MASCULINO,ADULTOS,91001000,1,amenza,Martes
1,ARMA BLANCA / CORTOPUNZANTE,ANTIOQUIA,AMAGÁ,2023-06-26,FEMENINO,ADULTOS,5030000,1,amenza,Lunes
2,ARMA BLANCA / CORTOPUNZANTE,ANTIOQUIA,ANGOSTURA,2023-05-05,MASCULINO,ADULTOS,5038000,1,amenza,Viernes
3,ARMA BLANCA / CORTOPUNZANTE,ANTIOQUIA,BELLO,2023-02-23,FEMENINO,ADULTOS,5088000,1,amenza,Jueves
4,ARMA BLANCA / CORTOPUNZANTE,ANTIOQUIA,CISNEROS,2023-07-25,FEMENINO,ADULTOS,5190000,1,amenza,Martes
...,...,...,...,...,...,...,...,...,...,...
295881,SIN EMPLEO DE ARMAS,VICHADA,PUERTO CARREÑO,2023-08-27,FEMENINO,ADULTOS,99001000,1,violencia intrafamiliar,Domingo
295882,SIN EMPLEO DE ARMAS,VICHADA,SANTA ROSALÍA,2023-02-07,FEMENINO,ADULTOS,99624000,1,violencia intrafamiliar,Martes
295883,SIN EMPLEO DE ARMAS,VICHADA,SANTA ROSALÍA,2023-03-17,FEMENINO,ADULTOS,99624000,1,violencia intrafamiliar,Viernes
295884,SIN EMPLEO DE ARMAS,VICHADA,SANTA ROSALÍA,2023-03-31,FEMENINO,ADOLESCENTES,99624000,1,violencia intrafamiliar,Viernes
295885,SIN EMPLEO DE ARMAS,VICHADA,SANTA ROSALÍA,2023-05-15,FEMENINO,ADULTOS,99624000,1,violencia intrafamiliar,Lunes